@model intranet.Models.Procesos

@{
    ViewData["Title"] = "Insertar";
}

<h2>Insertar</h2>

<h4>Procesos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proceso" class="control-label"></label>
                <input asp-for="Proceso" class="form-control" />
                <span asp-validation-for="Proceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numeral" class="control-label"></label>
                <input asp-for="Numeral" class="form-control" />
                <span asp-validation-for="Numeral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuente" class="control-label"></label>
                <input asp-for="Fuente" class="form-control" />
                <span asp-validation-for="Fuente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
